node_modules

/frontend/build

.DS_Store

/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.test.local
/frontend/.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/backend/config/config.env
*.cer
